<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Account List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Account Id</th>
        <th>Account Balance</th>
        <th>Account Status</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let account of accounts | async">
        <td>{{account.accountId}}</td>
        <td>{{account.balance}}</td>
        <td>{{account.isActive}}</td>
        <td><button (click)="deleteAccount(account.accountId)" class="btn btn-danger">Delete</button>
          <button (click)="accountDetails(account.accountId)" class="btn btn-info" style="margin-left: 10px">Details</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
